<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\WORK\Projects\TextAnalysis\TextAnalysis\LanguageAnalysis\German\DudenCache.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>